table{
    border: solid 1px;
    border-collapse: collapse;
}
td{
    border: solid;
}
#maior{
    background-color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
}
.praia{
    border-color: rgb(208, 112, 39);
    color: rgb(113, 9, 9);
}